@charset "utf-8";
.menu ul{
		list-style: none;
		padding-left: 0;
		text-align: center;
		margin: 0 auto;
	}
	.menu > ul > li{
		float: left;
	}
	.menu a{
		display: block;
		padding: 8px 28px;
		text-decoration: none;
		color: white;
		min-width: 110px;
		height: 30px;
	}
	.menu li{
		background-color: #054719;
	}
	.menu li:hover{
		background-color: #0C6837;
	}
	.menu li:hover > a{
		color: white;
	}
	.menu ul ul{
		position: absolute;
		min-width: 100px;
		display: none;
	}
	.clearfix::after{
		content: "";
		display: table;
		clear: left;
	}